body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color: #FF0066;
  font-size: 18px;
  background-image: url('/Users/student/code/hrsf101-subclass-dance-party/images/pizza.png');
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Monoton', cursive;
}
body, a:link, a:visited, a:active{
  color: black;
}

.topbar {
  float: left;
}

.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #66FF66;
}
.title{
  background-color: #50BFE6;
}
.dancer{
  border:75px solid red;
  border-image: url('/Users/student/code/hrsf101-subclass-dance-party/images/pepperoni.png') 50% stretch;
  position:absolute;
}

.dancer:hover {
  border-image: url('/Users/student/code/hrsf101-subclass-dance-party/images/boom.png') 50% stretch;
}

.blue-dancer{
  border:75px solid red;
  border-image: url('/Users/student/code/hrsf101-subclass-dance-party/images/mushroom.png') 50% stretch;
  position:absolute;
}

.blue-dancer:hover {
  border-image: url('/Users/student/code/hrsf101-subclass-dance-party/images/wow.png') 50% stretch;
}

.yellow-dancer{
  border:75px solid red;
  border-image: url('/Users/student/code/hrsf101-subclass-dance-party/images/pepper.png') 50% stretch;
  position:absolute;
}

.yellow-dancer:hover {
  border-image: url('/Users/student/code/hrsf101-subclass-dance-party/images/bang.png') 50% stretch;
}

.GI{
  padding:5px 12px;
  float:right;
}

